
@import url('colors.css');
*{
    /* background-color: black; */
    color: white;
    /* border: 1px solid red; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
}
main{
    /* background-image: url(https://img.freepik.com/premium-photo/girl-with-camera-that-says-black-girl_670382-4832.jpg?size=626&ext=jpg&uid=R97350360&ga=GA1.2.328877591.1686104943&semt=ais_ai_generated);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    height: 90vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 1rem;
    
}

.contact{
background-color: var(--grey);
}
.contact div{
    display: flex;
    margin: 20px 30px;
    cursor: default;
    
}
.contact .title{
    color: var(--orange);
    font-size: 1.75rem;
}
.contact div .icon{
    width: 50px;
    height: 50px;
}
.contact div .icon img{
    height: 100%;
    width: 100%;
}

.contact div .text{
    display: flex;
    align-items: center;
    padding: 0px 1em;
    color: var(--dark-blue);
    transition: .2s ease;
    cursor: pointer;

}
.contact div .text:hover{
    color: var(--orange);
    text-decoration: underline;
}
.form{
    background-color: var(--grey);
    padding: 0 2rem;
}
.form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}
.form form .name-phone{
    display: flex;
    justify-content: space-between;
}
.form form .name-phone input{
    width: 49%;
}
.form form input, textarea{
    color: var(--dark-blue);
    border: none;
    padding: 5px;
    font-size: 1.12rem;
    outline: none;
}
.form form input:focus{
    outline: 2px solid var(--light-blue);
}
textarea:focus{
    outline: 2px solid var(--light-blue);
}
.form form button{
    font-size: 1.12rem;
    width: 250px;
    align-self: center;
}
.map{
    grid-column-start: 1;
    grid-column-end: 3;

}
main iframe{
    width: 100%;
}
footer{
    text-align: center;
}

/* CSS */
.button-57 {
  position: relative;
  overflow: hidden;
  border: 1px solid #18181a;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 18px 18px 17px;
  text-decoration: none;
  cursor: pointer;
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-57 span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}

.button-57 span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 13px;
}

.button-57:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}

.button-57:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}

.button-57:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}