*{
    border: 1px solid red;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}
main{
    display: flex;
    justify-content: center;
}
main .gallery{
    display: column;
    columns: 4 ;
    gap: 30px;
    width: 80%;
}
main .gallery .photo{
    
}
main .gallery .photo img{
    width: 100%;
}